/* Element Selectors */

body {
    background-color: hsl(216, 12%, 8%);
    color: white;
    font-family: 'Overpass', sans-serif;
}

button {
    color: hsl(216, 12%, 54%);
}

h1 {
    font-weight: 700;
    padding-left: 20px;
    padding-top: 15px;
}

p {
    font-size: 15px;
    font-weight: 400;
    color: hsl(216, 12%, 54%);
    padding: 0px 20px 15px;
}

/* Class Selectors */

.rating {
    background-color: hsl(213, 19%, 23%);
    color: hsl(25, 97%, 53%);
    text-align: center;
    margin: auto;
    width: 190px;
    border-radius: 15px;
}

.rating-button {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    margin: 0px 12px 12px;
    background-color: hsl(213, 19%, 23%);
    border: none;
}

.rating-button:hover {
    background-color: hsl(25, 97%, 53%);
    color: white;
}

.rating-button.active {
    background-color: hsl(217, 12%, 63%);
    color: white;
}

.rating-button-container {
    text-align: center;
}

.rating-state {
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    margin: 180px auto;
    border-radius: 30px;
    display: none;
}

.rating-state.active {
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    border-radius: 30px;
    display: block;
}

.rating-text {
    color: hsl(25, 97%, 53%);
    padding: 5px 0;
}

.star-icon {
    margin: 12px 11.5px;
}

.star-icon-container {
    display: inline-block;
    background-color: hsl(213, 19%, 23%);
    width: 40px;
    height: 40px;
    text-align: center;
    border-radius: 100%;
    position: relative;
    left: 20px;
    top: 20px;
}

.submit-button {
    border-radius: 20px;
    width: 310px;
    height: 40px;
    margin: 10px 45px 20px;
    background-color: hsl(213, 19%, 23%);
    border: none;
}

.submit-button:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.submit-state {
    background-color: hsl(213, 19%, 18%);
    width: 400px;
    margin: 182.5px auto;
    border-radius: 30px;
    text-align: center;
    display: none;
}

.submit-state.active {
    display: block;
}

.thank-you-img {
    padding: 20px 0 0px;
}

/* ID Selectors */